:root {
    /* Color Palette */
    --Soft-Stroke: #EAECF9;
    --White: #FAFAFA;
    --Primary: #F3F4FB;
    --Dark: #2f184b;
    --Secondary: #2667FF;
    --Text: #000000;

    /* Typography */
    --font-family: 'Karla', sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 20px;
    --font-size-title: 32px;
    --sds-typography-subtitle-size-base: 2rem;

    /* Spacing */
    --sds-size-space-100: 0.25rem;
    --sds-size-space-300: 0.75rem;
    --sds-size-space-400: 1rem;

    /* Border */
    --sds-size-radius-100: 0.25rem;
    --sds-size-radius-200: 0.5rem;
    --sds-size-stroke-border: 0.0625rem;


    /* Shadows */
    /* --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */ 
}

.dracula {
    --Soft-Stroke: #50fa7b;
    --White: #44475a;
    --Primary: #6272a4;
    --Dark: #ff5555;
    --Secondary: #8be9fd;
    --Text: #ff5555;
}

.dark {
    --Soft-Stroke: #778da9;
    --White: #0d1b2a;
    --Primary: #1b263b;
    --Dark: #e0e1dd;
    --Secondary: #415a77;
    --Text: #e0e1dd;
}

.nd {
    --Soft-Stroke: #c1cddd;
    --White: #0c2340;
    --Primary: #ae9142;
    --Dark: #8c7535;
    --Secondary: #0a843d;
    --Text: #edf2f9;
}