:root {
    /* Color Palette */
    --Soft-Stroke: #EAECF9;
    --White: #FAFAFA;
    --Primary: #F3F4FB;
    --Dark: #2f184b;
    --Secondary: #2667FF;

    /* Typography */
    --font-family: 'Karla', sans-serif;
    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 20px;
    --font-size-title: 32px;

    /* Spacing */
    --sds-size-space-100: 0.25rem;
    --sds-size-space-300: 0.75rem;

    /* Border */
    --sds-size-radius-100: 0.25rem;


    /* Shadows */
    /* --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */ 
}