**/.DS_Store
**/.vscode
**/bin/*
**/ignore/*
**/.env
**/.venv
!**/.gitinclude
**/.DS_Store
**/.vscode
**/bin/*
**/ignore/*
**/.env
**/.venv
**/__pycache__
**/.ruff_cache
!**/.gitinclude

/node_modules