.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-container {
    background: var(--White, #fff);
    border-radius: 16px;

    display: inline-flex;
    padding: 48px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.modal-heading {
    width: 400px;

    color: var(--Text, #000);

    /* Subheading */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.close-btn {
    cursor: pointer;
}

.group-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    color: var(--Text, #000);
}

.form-input {
    align-self: stretch;
    padding: 8px;

    border-radius: 4px;
    border: 1px solid var(--Soft-Stroke, #A2A7C7); 
    background: var(--White, #A2A7C7);

    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-radio-group {
    display: flex;
    gap: 1rem;
}

.form-input-group input[type="radio"] {
    accent-color: black;
}