.card {
    border: 1px solid #eaecf9;
    background-color: #f3f4fb;
    border-radius: 20px;
    width: 300px;
    min-width: 240px;
    min-height: 200px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .title {
    font-family:
      Karla,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    color: #000;
  }
  
  .details {
    margin-top: 10px;
  }
  
  .creator {
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
  }
  
  .coins {
    margin: 4px 0 0;
    font-family:
      Inter,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
  
  @media (width <= 991px) {
    .card {
      padding-bottom: 100px;
    }
  }
  