.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.footer {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    background: var(--Secondary);
}

.footer-text {
    align-self: stretch;
    color: var(--White);
    text-align: center;

    /* Body */
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.title {
    color: #000;
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sidequest {
    color: var(--Secondary, #2667FF);
    font-family: "DM Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.slogan {
    color: #000;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.auth-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.sign-up {
    display: flex;
    padding: 12px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    border: 2px solid var(--Secondary, #2667FF);
    background: none;
    cursor: pointer;

    color: var(--Secondary, #2667FF);

    /* Action */
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.log-in {
    display: flex;
    padding: 12px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--Secondary, #2667FF);
    cursor: pointer;

    border-radius: 4px;
    border: none;

    color: var(--Primary, #F3F4FB);

    /* Action */
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}