.sidebar {
    /* position: fixed;
    top: 0;
    left: 0; */

    width: 100px; /* Fixed width for the sidebar */
    height: 100vh; /* Full viewport height */
    padding: 32px 16px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-right: 4px solid var(--Soft-Stroke);
    background: var(--White);
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.group-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 64px;
    height: 64px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: 4px solid var(--Soft-Stroke);
    background: var(--Primary);
    cursor: pointer;

    font-family: "Karla", sans-serif;
    
}

.group-button.active {
    background: var(--Soft-Stroke);
}