.card {
  display: flex;
  width: 240px;
  height: 160px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 20px;
  border: 1px solid var(--Soft-Stroke, #EAECF9);
  background: var(--Primary, #F3F4FB);
  text-decoration: none;
  color: inherit;
}

.card:visited {
  color: inherit;
}
  
.card-title {
  color: #000;
  text-align: left;

  /* Card Subheading */
  font-family: "Karla";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
  
.card-desc {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}