.card {
  display: flex;
  width: 240px;
  height: 160px;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  border-radius: 20px;
  border: 1px solid var(--Soft-Stroke, #EAECF9);
  background: var(--Primary, #F3F4FB);
  text-decoration: none;
  color: inherit;
}

.resolved-card {
  background: #858585;
  /* background: rgba(var(--Primary, #F3F4FB)0.4); */
}

.card:visited {
  color: inherit;
}
  
.card-title {
  text-align: left;
  /* Card Subheading */
  font-family: "Karla";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
  
.card-desc {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

/* Responsive styles */
@media (max-width: 1280px) {
  .card {
    width: 150px; /* Reduce width for smaller screens */
    height: 140px; /* Adjust height */
    padding: 12px 16px; /* Reduce padding */
  }

  .card-title {
    font-size: 18px; /* Adjust font size */
  }
}

@media (max-width: 970px) {
  .card {
    width: 100%; /* Make cards take full width */
    height: auto; /* Allow height to adjust based on content */
    padding: 6px; /* Further reduce padding */
  }

  .card-title {
    font-size: 16px; /* Smaller font size for titles */
  }

  .card-desc {
    gap: 2px; /* Reduce gap between description elements */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Full width for mobile */
    padding: 8px; /* Minimal padding */
    border-radius: 12px; /* Smaller border radius */
  }

  .card-title {
    font-size: 14px; /* Smallest font size for titles */
  }

  .card-desc {
    font-size: 12px; /* Smaller font size for descriptions */
  }
}